<div class="create_form">
    <form>
      <div class="pt-2">
        <div class="consulting_detailsform">
         
          <div class="top_form">
            <h2>Question 1</h2>
            <select class="form-select" aria-label="Question Type">
              <option value="0">Single Choice</option>
              <option value="1">Multiple choice</option>
              <option value="2">Text Field</option>
              <option value="3">Image</option>
              <option value="4">Client Image Upload</option>
              <option value="5">Declaration</option>
              <option value="6">Signature</option>
            </select>
          </div>
          <div class="form_field">
            <div class="f_field">
              <label for="questionTitle" class="form-label">Question Title</label>
              <input type="text" class="form-control" id="questionTitle" placeholder="Enter your question here" value="dsafdsfa">
              <div class="error"></div>
            </div>
            <div class="options-container">
              <!-- Option 1 -->
              <div class="options row">
                <div class="col-lg-6">
                  <div class="form-check">
                    <textarea class="form-control radio_set_c" placeholder="Option 1" spellcheck="true" rows="1">dasfdsf</textarea>
                    <div class="error"></div>
                  </div>
                </div>
                <div class="col-lg-4 d-flex">
                  <select class="form-select" aria-label="Response Option">
                    <option value="0">Response Option</option>
                    <option value="1">Proceed</option>
                    <option value="2">Cannot Proceed</option>
                    <option value="3">Proceed with Message</option>
                  </select>
                  <span class="remove-btn">
                    <img src="https://admin.consultifyapp.com/static/media/close.c36c4be8b90451084e4628e11745e0ed.svg" alt="Remove Option">
                  </span>
                </div>
              </div>
              <!-- Additional Options -->
              <div class="form-check add">
                <div class="add-btn">
                  <img class="blu_plus" src="https://admin.consultifyapp.com/static/media/add.0c43958165f8dbb87398ddd9c6140a67.svg" alt="Add Another Option">
                  <label class="form-check-label" for="exampleRadios">Add Another</label>
                </div>
              </div>
            </div>
            <div class="form_bottom_main">
              <div class="add_bottom_tab">
                <div class="form-check form-switch">
                  <label class="form-check-label" for="flexSwitchCheckDefault_0">Required</label>
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault_0">
                </div>
                <button class="add-option-btn">
                  <img src="https://admin.consultifyapp.com/static/media/add.0c43958165f8dbb87398ddd9c6140a67.svg" alt="Add Option">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </form>
  </div>