<div class="create_form">
    <!-- Form Title Input -->
    <div class="form-group mb-4">
        <label for="formTitle">Form Title</label>
        <input type="text" class="form-control" id="formTitle" placeholder="Enter a title for your consultation form" name="form_title" value="dsfsdfsdfds">
    </div>

    <!-- Form Description Input -->
    <div class="form-group">
        <label for="formDescription">Form Description</label>
        <textarea class="form-control" id="formDescription" rows="5" placeholder="Enter a description" name="form_description">dfhsdgfsgdf</textarea>
    </div>

    <!-- Category Selection -->
    <div class="form-group">
        <label for="formCategory" class="form-label">Category</label>
        <select name="category" aria-label="Default select example" class="form-control form-select" id="formCategory">
            <option>Select Category from List</option>
            <option value="66b6633296a61ed36d8dc9b7">Body Treatments - Email in advance</option>
            <option value="66b6634596a61ed36d8dc9bd">Body Treatments - On the day treatment notes</option>
            <option value="66706623251e8087227227d0">Brow Treatments - Email in advance</option>
            <option value="66817dc7b41cc4b9b1c5e897">Brow Treatments - On the day treatment notes</option>
            <option value="66706650251e8087227227dc">Facial Treatments - Email in advance</option>
            <option value="66817da4b41cc4b9b1c5e881">Facial Treatments - On the day treatment notes</option>
            <option value="66706671251e8087227227f4">General Health Forms</option>
            <option value="66706638251e8087227227d6">Lash Treatments - Email in advance</option>
            <option value="66817dbcb41cc4b9b1c5e891">Lash Treatments - On the day treatment notes</option>
            <option value="6670665f251e8087227227e8">Nail Treatments - Email in advance</option>
            <option value="66817d84b41cc4b9b1c5e875">Nail Treatments - On the day treatment notes</option>
            <option value="667066a3251e8087227227fa">Other Forms</option>
            <option value="66706666251e8087227227ee">Patch Tests</option>
        </select>
    </div>
</div>